div {
    width: 49%;
    height: 50%;
    float: left;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 15%;
    height: 7%;
    padding: 5px;
    font: 12px sans-serif;
    color: #528aae;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: #528aae;
    border-radius: 8px;
    pointer-events: none;
    text-shadow: 0px 0px;
}
div.tooltip_cl {
    position: absolute;
    text-align: center;
    width: 5%;
    height: 4%;
    padding: 5px;
    font: 12px sans-serif;
    color: #528aae;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: #528aae;
    border-radius: 8px;
    pointer-events: none;
    text-shadow: 0px 0px;
}
div.tooltip_clg {
    position: absolute;
    text-align: center;
    width: 5%;
    height: 7%;
    padding: 5px;
    font: 12px sans-serif;
    color: #528aae;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: #528aae;
    border-radius: 8px;
    pointer-events: none;
    text-shadow: 0px 0px;
}
div.tooltip_p {
    position: absolute;
    text-align: center;
    width: 6%;
    height: 7%;
    padding: 5px;
    font: 12px sans-serif;
    color: #528aae;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: #528aae;
    border-radius: 8px;
    pointer-events: none;
    text-shadow: 0px 0px;
}
div.tooltip_lc {
    position: absolute;
    text-align: center;
    width: 5%;
    height: 4%;
    padding: 5px;
    font: 12px sans-serif;
    color: #528aae;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: #528aae;
    border-radius: 8px;
    pointer-events: none;
    text-shadow: 0px 0px;
}
div.tooltip_l {
    position: absolute;
    text-align: center;
    width: 7%;
    height: 6.5%;
    padding: 5px;
    font: 12px sans-serif;
    color: #528aae;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: #528aae;
    border-radius: 8px;
    pointer-events: none;
    text-shadow: 0px 0px;
}div#bar{
    margin-left: -1.5%;
    margin-top: -0.75%;
    padding: 0;
    width: 17%;
    background-color: #7291ba;
    position: absolute;
    height: 100%;
    overflow: hidden;
}div#title{
    width: 90%;
    height: 21%;
    margin-left: 7%;
    margin-right: 2%;
    margin-top: 2%;
    text-shadow: 2px 2px #3e5f85;
    color: white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}div#extra{
    width: 90%;
    margin-left: 7%;
    margin-right: 2%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: justify;
    font-size: 14px;
    text-shadow: 0px 0px;
}.button{
    height:2%;
    width:90%;
    margin-left: 1%;
    margin-bottom: 20%;
    margin-top: 10%;
    position: relative;
}
.but{
    background-color: #c39fd9;
    color: white;
    border-radius: 50px;
    position: relative;
}.but:focus {     
    background-color:#8444ab;    
}#allyears{
    margin-left: 30%;
}#after2000{
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}#before2000{
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    position: relative;
}
div#choropleth{
    width: 50%;
    background-color: white;
    border-style: solid; 
    border-color: #3e5f85;
    border-width: 2px;
    border-radius:20px; 
    margin-right: 0.70%;
    margin-left: 16.15%;
    font-size: 15px;
    text-shadow: 0px 0px;
    margin-bottom: 0.75%;
}
div#progressBar{
    width: 32%; 
    height: 41%;
    background-color: white;
    border-style: solid; 
    border-color: #3e5f85;
    border-width: 2px;
    border-radius:20px; 
    color: #3e5f85;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    text-shadow: 0px 0px;
    margin-bottom: 0.75%;
    overflow: hidden;
}.box{
    height: 40%;
    width: 24%;
}.boxm{
    height: 40%;
    width: 24%;
    position: relative;
}
div#secondLine{
    width: 40%;
    height: 50%;
    background-color: white;
    border-style: solid;
    border-color: #3e5f85;
    border-width: 2px;
    border-radius:20px; 
    margin-right: 0.75%;
    margin-left: 16.15%;
    color: #3e5f85;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 0px;
    text-align: center;
    overflow: hidden;
}
div#clevelandMedalsG{
    width: 20.52%;
    background-color: white;
    border-style: solid;
    border-color: #3e5f85;
    border-width: 2px;
    border-radius:20px; 
    margin-right:  0.70%;
    color: #3e5f85;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 0px;
    text-align: center;
    overflow: hidden;
}

div#clevelandMedalsP{
    width: 20.52%;
    background-color: white;
    border-style: solid;
    border-color: #3e5f85;
    border-width: 2px;
    border-radius:20px;
    margin-right:  0.70%;
    box-sizing: border-box;
    color: #3e5f85;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 0px;
    text-align: center;
    overflow: hidden;
}
body{
    background-color: #a8c7f2;
}.menb{
    background-color: #444444;
}.menb:active{
    background-color: #171717;
}.womb{
    background-color: #ff1493;
}.womb:focus{
    background-color: #b3005f;   
}
#womenbutton{
    color: white;
    border-radius: 10px;
    top : -5%;
    left: -135%;
    margin-left: 20%;
    position: relative;
}

#generalbutton{
    color: white;
    border-radius: 10px;
    top : -10%;
    left: -22%;
    margin-left: 35%;
    position: relative;
}
