div {
    width: 50%;
    float: left;
}

#women{
    background-color: palevioletred;
    border-radius: 10px;
    top : 505px;
    left: 10px;
    margin-left: 50px;
    font-;
    position: absolute;
}

#general{
    background-color: brown;
    border-radius: 10px;
    top : 505px;
    left: 70px;
    margin-left: 50px;
    position: absolute;
}
